*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: #E8E8E8;
    font-family: "2  Yekan";
}

a{
    text-decoration: none;
}


/*header start*/
header{
    background-color: white;
    box-shadow: 0 0 5px 0 darkgray;
}
.container{
    margin: auto;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    height: 200px;
}
.main-nav .nav-right{
    position: relative;
}
.main-nav .nav-right #menu-toggle{
    display: none;
}
.main-nav .nav-right .menu-icon{
    cursor: pointer;
}
.main-nav .nav-right .menu-icon i{
    padding: 10px;
    transition: all 0.5s ease;
    color: #010172;
    font-size: 1.6rem;
}
.main-nav .nav-right .menu-icon i:hover{
    background-color: #010172;
    color: white;
    border-radius: 30px;

}


.main-nav .nav-right .menu{
    position: absolute;
    display: none;
}
.main-nav .nav-right .menu ul{
    list-style: none;
    padding: 5;
    margin: 10;
    width: 200px;
    background-color: white;
    border-radius: 30px;
}
.main-nav .nav-right .menu ul li{
    margin: 20px;
    padding: 10px 10px 2px 10px;
    border-bottom: 1px solid #c5c2c2;
}
.main-nav .nav-right .menu ul li a{
    display: block;
    color: #6c6b6b;
    padding-bottom: 10px;
}
.main-nav .nav-right input#menu-toggle:checked ~ .menu{
    display: block;
}

.main-nav .center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-nav .center img{
    height: auto;
    width: auto;
}

.main-nav .nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main-nav .nav-left a{
    color: #010172;
    font-size: 1.1rem;
    padding-left: 5px;
}

.main-nav .nav-left a i{
    padding: 10px;
    transition: all 0.5s ease;
}
.main-nav .nav-left a i:hover{
    background-color: #010172;
    color: white;
    border-radius: 30px;
}

/*searchbar start*/
.search-bar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
}

.search-bar form {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    background-color: #E8E8E8;
}
.search-bar form i{
    font-size: 1rem;
    color: #6c6b6b;
}

.search-bar input[type="text"] {
    flex: 1;
    font-size: 16px;
    background:none;
    border: none;
}
.search-bar input[type="text"]:focus {
    outline: none;
}

/*searchbar end*/
/*header end*/

/*banner start*/
.banner{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner img{
    justify-content: center;
    height: auto;
    width: auto;
    border-radius: 20px;
}
/*banner end*/


/*books slider start*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.mySwiper{
    overflow: hidden;
}
.swiper-button-next, .swiper-button-prev{
    color: #010172;
    background-color: white;
    box-shadow: 0 0 2px #8c8a8a;
    padding: 10px;
    border-radius: 30px;
    margin: 1px;
    opacity: 0;
    transition: all 0.4s ease;
}
.mySwiper:hover .swiper-button-next{
    opacity: 1;
}
.mySwiper:hover .swiper-button-prev{
    opacity: 1;
}


.product{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #E8E8E8;
}
.product .product-title{
    margin: 20px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}
.product .product-title h2{
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #575757;
}
.product .product-title a{
    font-size: 1rem;
    color: #019fd3;
}
.product .product-title a i{
    font-size: 0.9rem;
    color: #019fd3;
}


.product-content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.product-content a{

}
.product-content .book-card{
    background-color: white;
    display: flex;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 darkgray;
}
.product-content .book-card .book-img{
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.product-content .book-card .book-img img{
    border-radius: 10px;
    height: 300px;
    width: 220px;
}
.product-content .book-card .book-content{
    text-align: right;
    border-bottom: 1px solid #c5c2c2;

}
.product-content .book-card .book-content h3{
    padding-top: 5px;
    color: #333333;
    font-size: 1.2rem;
}
.product-content .book-card .book-content span{
    color: #575757;
    font-size: 0.82rem;

}
.product-content .book-card .book-price{
    text-align: left;
}
.product-content .book-card .book-price span{
    font-size: 1.1rem;
    color: #010172;
}


/*books slider end*/




/*footer start*/
footer .content{
    background-color: #010172;;
    padding: 20px 0;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5px;
}
.footer-content .about-us{
    margin-right: 20px;
}
.footer-content .about-us h2{
    font-size: 1.6rem;
    color: white;
}
.footer-content .about-us p{
    color: #eeeeee;
    font-size: 1rem;
    padding-top: 10px;
}
.footer-content .social-media{
    text-align: center;
}
.footer-content .social-media span, p{
    font-size: 1.1rem;
    color: #eeeeee;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-content .social-media .social-media-icon{

}
.footer-content .social-media .social-media-icon a{
    padding: 0 10px;
    font-size: 1.7rem;
    color: #eeeeee;
}
.footer-content .social-media .social-media-icon a i{

}
footer .copyright{
    background-color: #000056;
}
.copyright-content{
    padding: 5px 0;
    text-align: center;
}
.copyright-content span{
    font-weight: bold;
    color: #eeeeee;
    font-size: 1.1rem;
}
/*footer end*/