<!DOCTYPE html>
<html dir="rtl" lang="fa" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bookmark</title>
    <link rel="stylesheet" href="../static/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">



</head>
<body>

<!--header start-->

<header>
<div class="container">
    <nav class="main-nav">
        <div class="nav-right">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">
                <i class="fa fa-bars"></i>
            </label>
            <nav class="menu">
                <ul>
                    <li><a href="#">ادبیات</a></li>
                    <li><a href="#">هنر</a></li>
                    <li><a href="#">روانشناسی</a></li>
                    <li><a href="#">فلسفی</a></li>
                    <li><a href="#">تاریخی</a></li>
                    <li><a href="#">سیاسی</a></li>
                    <li><a href="#">کودک و نوجوان</a></li>
                    <li><a href="#">زبان اصلی</a></li>
                </ul>
            </nav>
        </div>
        <div class="center">
            <img src="pic/logo.png">
        </div>
        <div class="nav-left">
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <a href="login.html"><i class="fa fa-user"> ورود/ثبت نام</i></a>
        </div>
    </nav>
</div>

<!--searchbar start-->
<section>
    <div class="search-bar">
        <form action="#" method="GET">
            <i class="fa fa-search"></i>
        <input type="text" placeholder=" جستجوی کتاب، نویسنده و... " name="q">
        </form>
    </div>
</section>
<!--searchbar end-->

</header>

<!--header end-->


<!--banner start-->

<section>
    <div class="container">
        <div class="banner">
            <a href="#">
                <img src="pic/banner.jpg" />
            </a>
        </div>
    </div>
</section>

<!--banner end-->


<!--new books slider start-->

<section>
    <div class="container">
        <div class="product">
            <div class="product-title">
                <h2>جدیدترین کتاب ها</h2>
                <a href="#">مشاهده همه <i class="fa fa-chevron-left"></i></a>
            </div>

            <div class="swiper mySwiper">
                <div class="product-content swiper-wrapper">
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/1.jpg"/>
                            </div>
                            <div class="book-content">
                                <h3>فرانکی</h3>
                                <span>میشائیل کهل مایر</span>
                            </div>
                            <div class="book-price">
                                <span>230.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/2.jpg" /></div>
                            <div class="book-content">
                                <h3>رازهای کودک درون</h3>
                                <span>چارلز ویتفیلد</span>
                            </div>
                            <div class="book-price">
                                <span>245،000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/3.jpg" /></div>
                            <div class="book-content">
                                <h3>رام کردن ماموت</h3>
                                <span>جردن پیترسون</span>
                            </div>
                            <div class="book-price">
                                <span>338.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/4.jpg"/></div>
                            <div class="book-content">
                                <h3>به سوی دنیایی زیبا</h3>
                                <span>جیمز نوربری</span>
                            </div>
                            <div class="book-price">
                                <span>350.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/5.jpg" /></div>
                            <div class="book-content">
                                <h3>کتاب‌فروشی</h3>
                                <span>پنلوپه فیتزجرالد</span>
                            </div>
                            <div class="book-price">
                                <span>235،000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/6.jpg"/></div>
                            <div class="book-content">
                                <h3>فرمول ثروت</h3>
                                <span>اسکات گالووی</span>
                            </div>
                            <div class="book-price">
                                <span>390.000 تومان</span>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>
            </div>
        </div>
    </div>
</section>

<!--new books slider end-->


<!--banner start-->

<section>
    <div class="container">
        <div class="banner">
            <a href="#">
                <img src="pic/banner2.jpg"/>
            </a>
        </div>
    </div>
</section>

<!--banner end-->


<!--best sales slider start-->

<section>
    <div class="container">
        <div class="product">
            <div class="product-title">
                <h2>پرفروش ترین کتاب ها</h2>
                <a href="#">مشاهده همه <i class="fa fa-chevron-left"></i></a>
            </div>

            <div class="swiper mySwiper">
                <div class="product-content swiper-wrapper">
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/7.jpg"/></div>
                            <div class="book-content">
                                <h3>مزرعه حیوانات</h3>
                                <span>جورج اورول</span>
                            </div>
                            <div class="book-price">
                                <span>125.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/8.jpg"/>
                            </div>
                            <div class="book-content">
                                <h3>نازنین</h3>
                                <span>فئودور داستایفسکی</span>
                            </div>
                            <div class="book-price">
                                <span>244،400 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/9.jpg"/></div>
                            <div class="book-content">
                                <h3>سقوط</h3>
                                <span>آلبر کامو</span>
                            </div>
                            <div class="book-price">
                                <span>140.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/10.jpg"/></div>
                            <div class="book-content">
                                <h3>سمفونی مردگان</h3>
                                <span>عباس معروفی</span>
                            </div>
                            <div class="book-price">
                                <span>350.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/11.jpg"/></div>
                            <div class="book-content">
                                <h3>بوف کور</h3>
                                <span>صادق هدایت</span>
                            </div>
                            <div class="book-price">
                                <span>240،000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/12.jpg"/></div>
                            <div class="book-content">
                                <h3>شیطان</h3>
                                <span>لئو تولستوی</span>
                            </div>
                            <div class="book-price">
                                <span>150.000 تومان</span>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>
    </div>
</section>

<!--best sales slider end-->


<!--Special offer slider start-->

<section>
    <div class="container">
        <div class="product">
            <div class="product-title">
                <h2>پیشنهاد ویژه</h2>
                <a href="#">مشاهده همه <i class="fa fa-chevron-left"></i></a>
            </div>

            <div class="swiper mySwiper">
                <div class="product-content swiper-wrapper">
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/13.jpg"/></div>
                            <div class="book-content">
                                <h3>کتابخانه نیمه شب</h3>
                                <span> مت هیگ</span>
                            </div>
                            <div class="book-price">
                                <span>350.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/14.jpg"/></div>
                            <div class="book-content">
                                <h3>کیمیاگر</h3>
                                <span>پائولو کوئیلو</span>
                            </div>
                            <div class="book-price">
                                <span>275.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/15.jpg"/>
                            </div>
                            <div class="book-content">
                                <h3>مغازه ی خودکشی</h3>
                                <span>ژان تولی</span>
                            </div>
                            <div class="book-price">
                                <span>160.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/4.jpg"/></div>
                            <div class="book-content">
                                <h3>به سوی دنیایی زیبا</h3>
                                <span>جیمز نوربری</span>
                            </div>
                            <div class="book-price">
                                <span>350.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                <img src="pic/17.jpg" /></div>
                            <div class="book-content">
                                <h3>کافکا در کرانه</h3>
                                <span>هاروکی موراکامی</span>
                            </div>
                            <div class="book-price">
                                <span>550.000 تومان</span>
                            </div>
                        </a>
                    </div>
                    <div class="book-card swiper-slide">
                        <a href="#">
                            <div class="book-img">
                                ><img src="pic/18.jpg"/></div>
                            <div class="book-content">
                                <h3>قدرت شروع ناقص</h3>
                                <span>جیمز کلیر</span>
                            </div>
                            <div class="book-price">
                                <span>345.000 تومان</span>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>
    </div>
</section>

<!--Special offer slider end-->


<!-- footer start-->

<footer>
    <div class="content">
        <div class="container">
            <div class="footer-content">
                <div class="about-us">
                    <h2>درباره ما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </p>
                </div>
                <div class="social-media">
          <span>
            ما را در شبکه های اجتماعی دنبال کنید:
          </span>
                    <div class="social-media-icon">
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-telegram"></i></a>
                    </div>
          <p>خدمات مشتریان 021000000</p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copyright-content">
        <span>
          © تمام حقوق این وب‌سایت محفوظ است.
        </span>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->

<script src="js/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>