<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="container">
    <div class="login-box">

        <div class="sign-in">
            <header>
                <h2>خوش آمدید</h2>
            </header>
            <form action="#" method="post">
                <span>نام کاربری:</span>
                <input type="text" name="username" id="username"  placeholder="نام کاربری">
                <span>رمز ورود:</span>
                <input type="password" name="password" id="password" placeholder="رمز ورود">
                <button type="submit">ورود</button>
            </form>

            <div class="options">
                <label class="checkbox">
                    <span class="checkbox-text">رمز را به خاطر بسپار</span>
                    <input type="checkbox" name="remember" id="remember">
                    <span class="checkmark"></span>
                </label>
                <div class="f-pass">
                    <a href="#"><p>رمز خود را فراموش کردید؟</p></a></div>
            </div>
            <div class="sign-up">
                <span>حساب کاربری ندارید؟</span>
                <a href=""><p>"ثبت نام کنید"</p></a>
            </div>
        </div>
    </div>

</div>
</body>
</html>